.slide-v-enter-active, 
.slide-v-leave-active {
  transition: transform $normal;
}
.slide-v-enter, 
.slide-v-leave-to {
  transform: translateY(64px);
}

.slide-h-enter-active, 
.slide-h-leave-active {
  transition: transform $fast;
}
.slide-h-enter, 
.slide-h-leave-to {
  transform: translateX(16px);
}

.opacity-enter-active, 
.opacity-leave-active {
  transition: opacity $fast;
}
.opacity-enter, 
.opacity-leave-to {
  opacity: 0;
}